In [1]:
import pandas as pd

In [9]:
pd.set_option('display.max_columns', None)

In [28]:
df= pd.read_csv('AutoInsurance.csv')
df.head(50)

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,3/2/2011,Employed,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
5,OC83172,Oregon,8256.297800,Yes,Basic,Bachelor,1/25/11,Employed,F,62902,Rural,Married,69,14,94,0,2,Personal Auto,Personal L3,Offer2,Web,159.383042,Two-Door Car,Medsize
6,XZ87318,Oregon,5380.898636,Yes,Basic,College,2/24/11,Employed,F,55350,Suburban,Married,67,0,13,0,9,Corporate Auto,Corporate L3,Offer1,Agent,321.600000,Four-Door Car,Medsize
7,CF85061,Arizona,7216.100311,No,Premium,Master,1/18/11,Unemployed,M,0,Urban,Single,101,0,68,0,4,Corporate Auto,Corporate L3,Offer1,Agent,363.029680,Four-Door Car,Medsize
8,DY87989,Oregon,24127.504020,Yes,Basic,Bachelor,1/26/11,Medical Leave,M,14072,Suburban,Divorced,71,13,3,0,2,Corporate Auto,Corporate L3,Offer1,Agent,511.200000,Four-Door Car,Medsize
9,BQ94931,Oregon,7388.178085,No,Extended,College,2/17/11,Employed,F,28812,Urban,Married,93,17,7,0,8,Special Auto,Special L2,Offer2,Branch,425.527834,Four-Door Car,Medsize
10,SX51350,California,4738.992022,No,Basic,College,2/21/11,Unemployed,M,0,Suburban,Single,67,23,5,0,3,Personal Auto,Personal L3,Offer1,Agent,482.400000,Four-Door Car,Small
11,VQ65197,California,8197.197078,No,Basic,College,6/1/2011,Unemployed,F,0,Suburban,Married,110,27,87,0,3,Personal Auto,Personal L3,Offer2,Agent,528.000000,SUV,Medsize
12,DP39365,California,8798.797003,No,Premium,Master,6/2/2011,Employed,M,77026,Urban,Married,110,9,82,2,3,Corporate Auto,Corporate L1,Offer2,Agent,472.029737,Four-Door Car,Medsize
13,SJ95423,Arizona,8819.018934,Yes,Basic,High School or Below,10/1/2011,Employed,M,99845,Suburban,Married,110,23,25,1,8,Corporate Auto,Corporate L3,Offer2,Branch,528.000000,SUV,Medsize
14,IL66569,California,5384.431665,No,Basic,College,1/18/11,Employed,M,83689,Urban,Single,70,21,10,2,8,Corporate Auto,Corporate L3,Offer4,Call Center,307.139132,Four-Door Car,Medsize
15,BW63560,Oregon,7463.139377,No,Basic,Bachelor,1/17/11,Employed,F,24599,Rural,Married,64,12,50,1,2,Corporate Auto,Corporate L2,Offer2,Branch,42.920271,Four-Door Car,Medsize
16,FV94802,Nevada,2566.867823,No,Basic,High School or Below,6/2/2011,Medical Leave,M,25049,Suburban,Married,67,14,7,0,1,Personal Auto,Personal L3,Offer2,Call Center,454.245098,Two-Door Car,Medsize
17,OE15005,California,3945.241604,No,Basic,College,5/1/2011,Medical Leave,M,28855,Suburban,Married,101,12,59,0,1,Personal Auto,Personal L2,Offer3,Call Center,647.442031,SUV,Medsize
18,WC83389,Oregon,5710.333115,No,Basic,College,2/27/11,Employed,M,51148,Urban,Married,72,9,1,0,7,Personal Auto,Personal L2,Offer2,Branch,308.981664,Four-Door Car,Medsize
19,FL50705,California,8162.617053,No,Premium,High School or Below,1/14/11,Employed,F,66140,Suburban,Married,101,11,21,0,3,Corporate Auto,Corporate L2,Offer1,Call Center,484.800000,Four-Door Car,Small
20,ZK25313,Oregon,2872.051273,No,Basic,High School or Below,2/19/11,Employed,M,57749,Suburban,Single,74,31,21,0,1,Personal Auto,Personal L2,Offer1,Branch,355.200000,Two-Door Car,Medsize
21,SV62436,Washington,3041.791561,No,Extended,Bachelor,1/21/11,Disabled,F,13789,Suburban,Divorced,79,8,49,0,1,Personal Auto,Personal L3,Offer4,Call Center,379.200000,Four-Door Car,Medsize
22,YH23384,Arizona,24127.504020,Yes,Basic,Bachelor,1/26/11,Medical Leave,M,14072,Suburban,Divorced,71,13,3,0,2,Personal Auto,Personal L3,Offer1,Agent,511.200000,Four-Door Car,Medsize
23,TZ98966,Nevada,2450.190996,No,Basic,Bachelor,2/24/11,Unemployed,F,0,Suburban,Single,73,4,44,3,1,Corporate Auto,Corporate L3,Offer1,Branch,554.376763,Four-Door Car,Medsize
24,HM55802,California,2392.107890,No,Basic,Bachelor,5/2/2011,Disabled,F,17870,Suburban,Married,61,30,91,0,1,Corporate Auto,Corporate L2,Offer2,Branch,439.200000,Four-Door Car,Medsize
25,FS42516,Oregon,5802.065978,No,Basic,College,1/29/11,Employed,M,97541,Suburban,Married,72,22,1,0,3,Personal Auto,Personal L3,Offer2,Call Center,389.185006,Four-Door Car,Large
26,US89481,California,3946.372085,No,Premium,Bachelor,2/28/11,Unemployed,F,0,Suburban,Single,111,15,47,0,1,Personal Auto,Personal L3,Offer1,Agent,799.200000,Four-Door Car,Small
27,HO30839,Washington,5346.916576,No,Extended,Master,12/2/2011,Disabled,F,10511,Urban,Married,139,33,64,0,1,Corporate Auto,Corporate L1,Offer1,Branch,516.237951,SUV,Medsize
28,GE62437,Arizona,12902.560140,No,Premium,College,2/2/2011,Employed,F,86584,Suburban,Single,111,33,54,2,2,Personal Auto,Personal L3,Offer1,Call Center,532.800000,Four-Door Car,Large
29,EJ77678,Oregon,3235.360468,No,Extended,Master,7/2/2011,Employed,F,75690,Suburban,Married,80,17,44,1,1,Personal Auto,Personal L3,Offer2,Branch,384.000000,Four-Door Car,Small
30,SV85652,Arizona,2454.583540,No,Basic,College,2/28/11,Employed,M,23158,Suburban,Married,63,4,6,1,1,Personal Auto,Personal L2,Offer4,Call Center,322.294043,Four-Door Car,Small
31,UL64533,Nevada,18975.456110,No,Extended,High School or Below,1/22/11,Employed,M,65999,Urban,Married,237,1,14,0,6,Corporate Auto,Corporate L2,Offer2,Agent,615.927769,Luxury SUV,Medsize
32,PF41800,California,4715.321344,No,Basic,Bachelor,1/25/11,Unemployed,M,0,Urban,Married,65,19,56,0,3,Personal Auto,Personal L3,Offer1,Call Center,308.150890,Four-Door Car,Medsize
33,AO98601,Washington,5018.885233,No,Basic,Bachelor,1/18/11,Employed,M,54500,Suburban,Married,63,28,17,0,6,Corporate Auto,Corporate L2,Offer1,Agent,302.400000,Two-Door Car,Small
34,SK67821,Oregon,4932.916345,No,Basic,Bachelor,2/13/11,Employed,F,37260,Rural,Married,62,19,42,0,8,Corporate Auto,Corporate L1,Offer3,Web,15.437681,Four-Door Car,Medsize
35,YV55495,Arizona,5744.229745,No,Basic,High School or Below,1/15/11,Employed,F,68987,Urban,Married,71,11,40,0,6,Personal Auto,Personal L1,Offer1,Branch,204.475147,Four-Door Car,Medsize
36,KY38074,California,13891.735670,No,Premium,Bachelor,8/1/2011,Employed,M,42305,Suburban,Married,117,10,62,0,2,Personal Auto,Personal L3,Offer1,Agent,561.600000,Four-Door Car,Small
37,DM79012,Oregon,7380.976717,No,Extended,Master,6/2/2011,Employed,F,65706,Suburban,Married,91,19,86,0,8,Personal Auto,Personal L3,Offer2,Web,436.800000,Four-Door Car,Small
38,CM61827,Oregon,3090.034104,No,Extended,Bachelor,1/25/11,Unemployed,M,0,Suburban,Single,90,7,79,0,1,Personal Auto,Personal L2,Offer3,Agent,648.000000,Two-Door Car,Small
39,WC35801,Arizona,2521.633095,No,Basic,High School or Below,7/2/2011,Employed,M,53243,Rural,Divorced,66,4,15,2,1,Personal Auto,Personal L3,Offer1,Call Center,157.397849,Four-Door Car,Medsize
40,QG25316,Nevada,2652.061785,No,Basic,High School or Below,1/18/11,Unemployed,F,0,Suburban,Married,70,7,1,1,1,Corporate Auto,Corporate L3,Offer3,Call Center,484.318536,Two-Door Car,Medsize
41,MB98372,Oregon,2771.045031,Yes,Basic,College,11/1/2011,Employed,F,50071,Rural,Single,71,3,32,0,1,Corporate Auto,Corporate L3,Offer2,Agent,18.918935,Two-Door Car,Medsize
42,IL19217,California,3939.006370,Yes,Extended,Bachelor,1/28/11,Employed,F,60021,Suburban,Married,99,12,28,0,1,Personal Auto,Personal L2,Offer2,Agent,882.871945,Four-Door Car,Small
43,SR38658,Arizona,12231.879680,No,Basic,High School or Below,8/2/2011,Employed,M,43244,Suburban,Married,103,15,16,0,2,Personal Auto,Personal L2,Offer4,Agent,494.400000,Sports Car,Medsize
44,DH41343,Washington,2443.665166,No,Basic,College,2/23/11,Employed,M,92834,Suburban,Married,61,15,56,0,1,Special Auto,Special L2,Offer2,Call Center,292.800000,Four-Door Car,Large
45,HG65722,Oregon,12819.102890,No,Premium,Doctor,1/25/11,Disabled,F,10105,Rural,Married,172,5,4,3,3,Personal Auto,Personal L2,Offer1,Branch,0.517753,SUV,Medsize
46,BU27331,Arizona,4468.510542,No,Basic,Bachelor,1/31/11,Unemployed,M,0,Suburban,Single,73,7,57,3,5,Personal Auto,Personal L3,Offer3,Call Center,579.165954,Four-Door Car,Medsize
47,XM45289,Oregon,5514.344018,No,Basic,High School or Below,2/1/2011,Employed,F,23218,Suburban,Single,71,7,10,0,4,Personal Auto,Personal L2,Offer4,Agent,447.793440,Two-Door Car,Medsize
48,KP34198,California,3343.875326,No,Extended,Bachelor,7/2/2011,Unemployed,F,0,Suburban,Married,92,11,77,0,1,Corporate Auto,Corporate L2,Offer2,Call Center,529.624084,Four-Door Car,Medsize
49,SH90947,Arizona,2294.478927,No,Basic,High School or Below,1/18/11,Unemployed,F,0,Suburban,Married,62,11,56,0,1,Personal Auto,Personal L2,Offer4,Branch,313.023175,Four-Door Car,Medsize

In [16]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer                       9134 non-null   object
 1   State                          9134 non-null   object
 2   Customer_Lifetime_Value        9134 non-null   float64
 3   Response                       9134 non-null   object
 4   Coverage                       9134 non-null   object
 5   Education                      9134 non-null   object
 6   Effective_To_Date              9134 non-null   object
 7   EmploymentStatus               9134 non-null   object
 8   Gender                         9134 non-null   object
 9   Income                         9134 non-null   int64
 10  Location_Code                  9134 non-null   object
 11  Marital_Status                 9134 non-null   object
 12  Monthly_Premium_Auto           9134 non-null   int64
 13  Months_Since_Last_Claim        9134 non-null   int64
 14  Months_Since_Policy_Inception  9134 non-null   int64
 15  Number_of_Open_Complaints      9134 non-null   int64
 16  Number_of_Policies             9134 non-null   int64
 17  Policy_Type                    9134 non-null   object
 18  Policy                         9134 non-null   object
 19  Renew_Offer_Type               9134 non-null   object
 20  Sales_Channel                  9134 non-null   object
 21  Total_Claim_Amount             9134 non-null   float64
 22  Vehicle_Class                  9134 non-null   object
 23  Vehicle_Size                   9134 non-null   object
dtypes: float64(2), int64(6), object(16)
memory usage: 1.7+ MB
None

In [36]:
df.columns = df.columns.str.replace(' ','_')
df.columns

Index(['Customer', 'State', 'Customer_Lifetime_Value', 'Response', 'Coverage',
       'Education', 'Effective_To_Date', 'EmploymentStatus', 'Gender',
       'Income', 'Location_Code', 'Marital_Status', 'Monthly_Premium_Auto',
       'Months_Since_Last_Claim', 'Months_Since_Policy_Inception',
       'Number_of_Open_Complaints', 'Number_of_Policies', 'Policy_Type',
       'Policy', 'Renew_Offer_Type', 'Sales_Channel', 'Total_Claim_Amount',
       'Vehicle_Class', 'Vehicle_Size'],
      dtype='object')

In [39]:
categorical_columns = ['State','Response','Coverage','Education',
                       'EmploymentStatus','Gender','Location_Code','Marital_Status','Policy_Type','Policy','Renew_Offer_Type',
                       'Sales_Channel','Vehicle_Class','Vehicle_Size']
len(categorical_columns)

14

In [84]:
# Encode the categorical data (not necessary for ensemble models, but applied to follow previous steps)
dummy_cat = pd.concat([pd.get_dummies(df.State, prefix='State',drop_first=True), 
                       pd.get_dummies(df.Coverage, prefix= 'Coverage', drop_first=True), 
                       pd.get_dummies(df.Response, prefix= 'Response', drop_first=True),
                       pd.get_dummies(df.Education, prefix='Education',drop_first=True),
                       pd.get_dummies(df.EmploymentStatus, prefix='EmploymentStatus',drop_first=True),
                       pd.get_dummies(df.Gender, prefix='Gender',drop_first=True),
                       pd.get_dummies(df.Location_Code, prefix='Location_Code',drop_first=True),
                       pd.get_dummies(df.Marital_Status, prefix='Marital_Status',drop_first=True),
                       pd.get_dummies(df.Policy_Type, prefix='Policy_Type',drop_first=True),
                       pd.get_dummies(df.Policy, prefix='Policy',drop_first=True),
                       pd.get_dummies(df.Renew_Offer_Type, prefix='Renew_Offer_Type',drop_first=True),
                       pd.get_dummies(df.Sales_Channel, prefix='Sales_Channel',drop_first=True),
                       pd.get_dummies(df.Vehicle_Size, prefix='Vehicle_Size',drop_first=True),
                       pd.get_dummies(df.Vehicle_Class, prefix='Vehicle_Class',drop_first=True)], axis=1)
dummy_cat = dummy_cat.astype(int)

In [85]:
dummy_cat[]

,State_California,State_Nevada,State_Oregon,State_Washington,Coverage_Extended,Coverage_Premium,Response_Yes,Education_College,Education_Doctor,Education_High School or Below,Education_Master,EmploymentStatus_Employed,EmploymentStatus_Medical Leave,EmploymentStatus_Retired,EmploymentStatus_Unemployed,Gender_M,Location_Code_Suburban,Location_Code_Urban,Marital_Status_Married,Marital_Status_Single,Policy_Type_Personal Auto,Policy_Type_Special Auto,Policy_Corporate L2,Policy_Corporate L3,Policy_Personal L1,Policy_Personal L2,Policy_Personal L3,Policy_Special L1,Policy_Special L2,Policy_Special L3,Renew_Offer_Type_Offer2,Renew_Offer_Type_Offer3,Renew_Offer_Type_Offer4,Sales_Channel_Branch,Sales_Channel_Call Center,Sales_Channel_Web,Vehicle_Size_Medsize,Vehicle_Size_Small,Vehicle_Class_Luxury Car,Vehicle_Class_Luxury SUV,Vehicle_Class_SUV,Vehicle_Class_Sports Car,Vehicle_Class_Two-Door Car
0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0
2,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0
4,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,1,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0
9130,1,0,0,0,1,0,1,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0
9131,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0
9132,1,0,0,0,1,0,0,1,0,0,0,1,0,0,0,1,1,0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0
9133,1,0,0,0,1,0,0,1,0,0,0,0,0,0,1,1,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,1

In [40]:
numerical_columns = ['Customer_Lifetime_Value','Effective_To_Date',
                     'Income','Monthly_Premium_Auto','Months_Since_Last_Claim',
                    'Months_Since_Policy_Inception','Number_of_Open_Complaints','Number_of_Policies','Total_Claim_Amount']
len(numerical_columns)

9

In [59]:
# for i in categorical_columns:
#     print(i)
#     print(df[i].value_counts())
#     print("")

In [77]:
insurance_columns = ['Customer_Lifetime_Value', 'Coverage', 'Effective_To_Date',
                     'Monthly_Premium_Auto','Months_Since_Last_Claim','Months_Since_Policy_Inception','Number_of_Policies'
                    ,'Policy_Type','Policy','Renew_Offer_Type','Total_Claim_Amount','Number_of_Open_Complaints']
len(insurance_columns)
insurance_df = df.loc[:, insurance_columns]
insurance_df

,Customer_Lifetime_Value,Coverage,Effective_To_Date,Monthly_Premium_Auto,Months_Since_Last_Claim,Months_Since_Policy_Inception,Number_of_Policies,Policy_Type,Policy,Renew_Offer_Type,Total_Claim_Amount,Number_of_Open_Complaints
0,2763.519279,Basic,2/24/11,69,32,5,1,Corporate Auto,Corporate L3,Offer1,384.811147,0
1,6979.535903,Extended,1/31/11,94,13,42,8,Personal Auto,Personal L3,Offer3,1131.464935,0
2,12887.431650,Premium,2/19/11,108,18,38,2,Personal Auto,Personal L3,Offer1,566.472247,0
3,7645.861827,Basic,1/20/11,106,18,65,7,Corporate Auto,Corporate L2,Offer1,529.881344,0
4,2813.692575,Basic,3/2/2011,73,12,44,1,Personal Auto,Personal L1,Offer1,138.130879,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9129,23405.987980,Basic,10/2/2011,73,18,89,2,Personal Auto,Personal L1,Offer2,198.234764,0
9130,3096.511217,Extended,12/2/2011,79,14,28,1,Corporate Auto,Corporate L3,Offer1,379.200000,0
9131,8163.890428,Extended,6/2/2011,85,9,37,2,Corporate Auto,Corporate L2,Offer1,790.784983,3
9132,7524.442436,Extended,3/2/2011,96,34,3,3,Personal Auto,Personal L2,Offer3,691.200000,0
9133,2611.836866,Extended,2/14/11,77,3,90,1,Corporate Auto,Corporate L3,Offer4,369.600000,0

In [75]:
vehicle_columns = ['Vehicle_Class','Vehicle_Size']
len(vehicle_columns)
vehices_df = df.loc[:, vehicle_columns]
vehices_df

      Vehicle_Class Vehicle_Size
0      Two-Door Car      Medsize
1     Four-Door Car      Medsize
2      Two-Door Car      Medsize
3               SUV      Medsize
4     Four-Door Car      Medsize
...             ...          ...
9129  Four-Door Car      Medsize
9130  Four-Door Car      Medsize
9131  Four-Door Car      Medsize
9132  Four-Door Car        Large
9133   Two-Door Car      Medsize

[9134 rows x 2 columns]

In [76]:
user_columns = ['Customer','State','Education','EmploymentStatus','Gender','Income','Location_Code','Marital_Status']
len(user_columns)
user_df = df.loc[:, user_columns]
user_df

,Customer,State,Education,EmploymentStatus,Gender,Income,Location_Code,Marital_Status
0,BU79786,Washington,Bachelor,Employed,F,56274,Suburban,Married
1,QZ44356,Arizona,Bachelor,Unemployed,F,0,Suburban,Single
2,AI49188,Nevada,Bachelor,Employed,F,48767,Suburban,Married
3,WW63253,California,Bachelor,Unemployed,M,0,Suburban,Married
4,HB64268,Washington,Bachelor,Employed,M,43836,Rural,Single
...,...,...,...,...,...,...,...,...
9129,LA72316,California,Bachelor,Employed,M,71941,Urban,Married
9130,PK87824,California,College,Employed,F,21604,Suburban,Divorced
9131,TD14365,California,Bachelor,Unemployed,M,0,Suburban,Single
9132,UP19263,California,College,Employed,M,21941,Suburban,Married
9133,Y167826,California,College,Unemployed,M,0,Suburban,Single

In [58]:
for i in df.columns:
    if i not in insurance_columns + vehicle_columns + user_columns:
        print(i)

Response
Sales_Channel

In [72]:
target_columns = ['Policy','Coverage','Policy_Type','Monthly_Premium_Auto']
target_df = df.loc[:, target_columns]
target_df

            Policy  Coverage     Policy_Type  Monthly_Premium_Auto
0     Corporate L3     Basic  Corporate Auto                    69
1      Personal L3  Extended   Personal Auto                    94
2      Personal L3   Premium   Personal Auto                   108
3     Corporate L2     Basic  Corporate Auto                   106
4      Personal L1     Basic   Personal Auto                    73
...            ...       ...             ...                   ...
9129   Personal L1     Basic   Personal Auto                    73
9130  Corporate L3  Extended  Corporate Auto                    79
9131  Corporate L2  Extended  Corporate Auto                    85
9132   Personal L2  Extended   Personal Auto                    96
9133  Corporate L3  Extended  Corporate Auto                    77

[9134 rows x 4 columns]

In [73]:
for i in target_columns[:3]:
    print(i)
    print(df[i].value_counts())
    print("")

Policy
Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: Policy, dtype: int64

Coverage
Basic       5568
Extended    2742
Premium      824
Name: Coverage, dtype: int64

Policy_Type
Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: Policy_Type, dtype: int64

In [80]:
input_columns = user_columns + vehicle_columns

In [79]:
# for i in target_columns:
#     print(i)
#     print(df[i].value_counts())

In [83]:
input_df = df.loc[:, input_columns]
input_df.columns

Index(['Customer', 'State', 'Education', 'EmploymentStatus', 'Gender',
       'Income', 'Location_Code', 'Marital_Status', 'Vehicle_Class',
       'Vehicle_Size'],
      dtype='object')

In [ ]:
# Correlation heatmap
corr_matrix = X_all_v.corr()

In [ ]:
sns.set( rc = {'figure.figsize': (10, 8)})
plt.figure()
sns.heatmap(corr_matrix.iloc[0:10,0:10], square = True, annot=True, fmt='.2f')
plt.title('Correlation Heatmap on data set',size=15)
plt.yticks(fontsize="13")
plt.xticks(fontsize="13")
plt.show()